<!--
<form accept-charset="UTF-8" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="email">Email</label>
  <input type="email" id="email" name="user[email]">
  <label for="username">Username</label>
  <input type="text" id="username" name="user[username]">
  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]">
  <input type="submit" value="send">


</form>
!-->

<!--
<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:email, "Email") %>
  <%= text_field_tag(:email) %>
  <%= label_tag(:username, "Username") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:password, "Password") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("send") %>
<% end %>
!-->

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_with model: @user do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username, placeholder: "You complete me" %>
  <%= form.label :email %>
  <%= form.text_field :email, value: "Go Go" %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit "Send" %>
<% end %>

